@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    padding: 0;
    margin: 0;
}

.body{
    background: url("../img/bg.jpg"); 
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBox{
    position: absolute;
    top: 15px;
    right: 40px;
    
    font-size: 30px;
    font-weight: bold;
    font-family:cursive ;
    color: white;
}

#hiscoreBox{
    position: absolute;
    bottom: 30px;
    right: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    font-family:cursive ;
}

#board{
    /* background: linear-gradient(rgb(170, 236, 170), rgb(236, 236, 167)); */
    width: 120vmin;
    height: 92vmin;
    border: 3px solid rgb(255, 255, 255);
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head{
    background: radial-gradient(rgb(242, 238, 238), rgb(88, 236, 8));
    /* border: 3px solid rgb(0, 0, 0);  */
    transform: scale(1.02);
    
    border-radius: 9px;
}

.snake{
    background: linear-gradient(rgb(242, 238, 238), rgb(3, 179, 164));
    /* background-color: purple; */
    border: .25vmin solid rgb(1, 0, 0);
    border-radius: 12px;
}

.food{
    /* background: radial-gradient(red, rgb(255, 255, 255)); */
    background-image: conic-gradient(red, yellow, green, blue, rgb(227, 9, 190));
    border-radius: 50%;
    border: .25vmin solid black;
    border-radius: 8px;
}